<!doctype html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} · MaSzyna Reloaded{{ end }}</title>
  <meta name="description" content="{{ default site.Params.description .Params.description }}">
  <meta name="theme-color" content="#0b100e">
  {{ partial "social-meta.html" . }}
  <link rel="icon" href="{{ "img/favicon.svg" | relURL }}" type="image/svg+xml">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@500;600;700&family=Roboto:wght@400;500;700&display=swap">
  {{ $scss := resources.Get "scss/main.scss" }}
  {{ $css := $scss | css.Sass (dict "transpiler" "libsass" "outputStyle" "compressed" "targetPath" "css/main.css") | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
</head>
<body>
  <a class="skip-link" href="#main-content">Przejdź do treści</a>
  {{ partial "header.html" . }}
  <main id="main-content">{{ block "main" . }}{{ end }}</main>
  {{ partial "footer.html" . }}
  <script src="{{ "js/site.js" | relURL }}" defer></script>
</body>
</html>

